In [3]:
2**2*2

8

In [4]:
10**4

10000

In [7]:
a=10
b=20
a**3+b**3+3*(a**2)*b+3*a*(b**2)

27000

In [15]:
a=raw_input('enter a value:')
b=raw_input('enter b value:')
print(a+b)
print type(a)
print type(b)

enter a value:10
enter b value:20
1020
<type 'str'>
<type 'str'>

In [17]:
a=input('enter a value:')
b=input('enter b value:')
print a, type(a)
print b, type(b)

enter a value:10
enter b value:10
10 <type 'int'>
10 <type 'int'>

In [20]:
a=raw_input('enter a value:')
b=input('enter b value:')
print a, type(a)
print b, type(b)
#raw data means it accpts only string

enter a value:siddu
enter b value:'laddu'
siddu <type 'str'>
laddu <type 'str'>

In [23]:
q=10000
z=32.5
a=q
w=s
s=99
t=a
print(q,z,a,w,s,t)

(10000, 32.5, 10000, 99, 99, 10000)

In [30]:
a=90
b=99
c=raw_input('enter c value:')
input('enter c value:')
print c

enter c value:b
enter c value:'b'
b

In [31]:
import math
math.sqrt(25)

5.0